/* src/styles.css */

/* Usar un tema de Angular Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

mat-toolbar {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

